
<div class="form-horizontal">
    <h4>修改密码</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">旧密码</label>
        <div class="col-md-10">
            <input id="oldPassword" type="password" class="form-control" name="oldPassword" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">新密码</label>
        <div class="col-md-10">
            <input id="newPassword" type="password" class="form-control" name="newPassword" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">确认密码</label>
        <div class="col-md-10">
            <input id="rePassword" type="password" class="form-control" value="" />
            <label id="danger" style="display:none" class="text-danger">两次输入密码不一致</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="edit" type="submit" value="提交修改" class="btn btn-default" style=" background-color: #55aaff;" />
        </div>
    </div>
</div>

<script>
    //失去焦点
    $("#rePassword").blur(function () {
        if ($("#newPassword").val() != $("#rePassword").val()) {
            document.getElementById('danger').style.display = "block";
        }
        else {
            document.getElementById('danger').style.display = "none";
        }
    })

    $("#edit").click(function () {
        var oldPassword = $("#oldPassword").val()
        var newPassword = $("#newPassword").val()
        var rePassword = $("#rePassword").val()
        if (oldPassword == null) {
            alert("请输入旧的密码！")
        }
        else {
            if (rePassword != newPassword) {
                alert("两次输入的新密码不一致哦")
            } else if (rePassword == newPassword) {
                const encrypt = new JSEncrypt();
                var pubKey = sessionStorage.getItem('Pub');
                encrypt.setPublicKey(pubKey);
                var sendOldPsw = encrypt.encrypt(oldPassword);
                var sendNewPsw = encrypt.encrypt(newPassword);
                $.ajax({
                    type: "post",
                    url: "/Users/EditPassword",
                    data: {
                        oldPwd: sendOldPsw,
                        newPwd: sendNewPsw
                    },
                    success: function (res) {
                        if (res == "error") {
                            alert("输入的旧密码错误！")
                        } else if (res == "success") {
                            alert("修改密码成功")
                        } else if (res == "fail") {
                            alert("出现bug了 没改好")
                        } else if (res == "re") {
                            alert('两次密码一样 你怎么这么无聊？')
                        }
                    }
                })
            }
        }
    })
</script>